@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin-left: 0px;
    margin-right: 0px;
}
body {
    font-family: 'Poppins', sans-serif;
}

.top {
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2em;
}

.topEnt {
    color: rgb(94, 70, 69);
}

.topSpan {
    font-weight: 400;
    font-style: italic;
}
.box {
    background-image: url(repeated-square.png);
    height: 40em;
    width: 100%;
}

.content {
    position: absolute;
    height: 500px;
    width: 50%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    background-color: white;
    box-shadow: 5px 5px 20px silver;
    border-radius: 5px;
}

.content1 {
    width: 50%;
    text-align: center;
    padding-top: 2em;
}

.content1 img {
    height: 200px;
}

.content1 p {
    line-height: 0.5em;
    font-weight: 900;
}

.content1 q, .content1 figcaption {
    font-size: 0.8em;
}

#ocupation {
    padding: 1em;
    font-weight: 400;
}

.border {
    position: relative;
    left: 43%;
    height: 10px;
    width: 50px;
    margin-top: 2em;
    background-color: rgb(94, 70, 69);
}

.content2 {
    background-color: rgb(226, 213, 212);
    position: absolute;
    height: 500px;
    width: 50%;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 50;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    padding-left: 2em;
}

h1 {
    color: rgb(94, 70, 69);
    margin-top: 2em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#introduce {
    margin-top: 0px;
    margin-bottom: 5em;
}

.td {
    color: rgb(94, 70, 69);
    font-weight: 700;
}

table a {
    color: black;
    text-decoration: none;
}